[submodule "pack/all/opt/solarized"]
	path = pack/all/opt/solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "powerline"]
	path = powerline
	url = https://github.com/powerline/powerline
[submodule "typescript-vim"]
	path = pack/all/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim
